body{
    height:500px
}
.container {
    margin-top: 0;
    background-color: rgb(0, 0, 0);
    padding: 2;
}
h1 {
    text-align: center;
    margin-top: -1em;
    align-items: center;
    font-family: cursive;
    color: rgb(78, 71, 71);
    font-size: 1em;
}
#centre {
    position: relative;
    align-items: center;
    text-align: center;
    margin: 2em 6em 2em 6em;
    text-decoration: none;
    border-radius: 69px;
}
#centre button {
    width: 30rem;
    padding: 1em;
    border-radius: 15px;
    margin-top: 1.5em;
    margin-bottom: 1em;
    background-color: rgb(85, 83, 83);
    transition-property: color;
}
.head {
    align-items: center;
    justify-content: center;
    text-align: center;
}
img {
    width: 10em;
    border-radius: 100px;
    height: 10em;
    margin-top: 2px;
}
#centre button a {
    text-decoration: none;
    font-size: 2rem;
    color: antiquewhite;
}
/* #centre button a:visited { */
    /* color: rgb(71, 118, 248); */
/* } */
h3 {
    margin-top: 1px;
    color: antiquewhite;
    text-align: center;
}
.about{
    border: 2px solid white;
    color: bisque;
    line-height: 0px;
    margin: 15px;
    padding: 15px;
    list-style: circle;
}
.foot {
    margin-top: 3px;
    color: rgb(226, 226, 225);
    text-align: center;
    padding: 10px;
    border: 1px solid rgb(82, 72, 72);
}
.foot a {
    text-decoration: none;
    color: azure;
}
@media only screen and (max-width:684px) {
    #centre button {
        width: 20em;
    }

    .container {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
@media only screen and (max-width:431px) {
    #centre button{
        width: fit-content;
    }
    #centre button a img {
        display: none;
    }
}


}
@media only screen and (max-width:320px) {
body {
        display: none;
    }
}
#centre button a img {
    width: 50px;
    height: 35px;
    float: left;
}
